html{
    font-size: 69%;
}

body{
    margin:0;
    font-family: 300 11px/1.4 'Roboto Condensed', sans-serif;
    color: #444;
    background: #022c43;
    overflow: hidden;
    display: block;
    -webskit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}